[
{
"attributeURI":"urn:scim:wso2:agent:schema:agentUrl",
"attributeName":"agentUrl",
"dataType":"string",
"multiValued":"false",
"description":"Agent URL",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:scim:wso2:agent:schema:agentDescription",
"attributeName":"agentDescription",
"dataType":"string",
"multiValued":"false",
"description":"Agent Description",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:scim:wso2:agent:schema:agentOwner",
"attributeName":"agentOwner",
"dataType":"string",
"multiValued":"false",
"description":"Agent Owner",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:scim:wso2:agent:schema:agentAIModel",
"attributeName":"agentAIModel",
"dataType":"string",
"multiValued":"false",
"description":"Agent AI Model",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:scim:wso2:agent:schema",
"attributeName":"urn:scim:wso2:agent:schema",
"dataType":"complex",
"multiValued":"false",
"description":"Agentic AI Schema",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"agentUrl agentDescription agentOwner agentAIModel",
"canonicalValues":[],
"referenceTypes":["external"]
}
]
