[
{"attributeURI": "urn:scim:wso2:schema:testURI1",
"attributeName": "testURI1",
"dataType": "string",
"multiValued": false,
"description": "Test description 1",
"required": "true",
"caseExact": "false",
"mutability": "readWrite",
"returned": "default",
"uniqueness": "none",
"subAttributes": "null",
"canonicalValues": ["value1", "value2"],
"referenceTypes": ["refType1", "refType2"]
},
{"attributeURI": "urn:scim:wso2:schema:testURI2",
"attributeName": "testURI2",
"dataType": "integer",
"multiValued": true,
"description": "Test description 2",
"required": "false",
"caseExact": "true",
"mutability": "immutable",
"returned": "always",
"uniqueness": "global",
"subAttributes": "null",
"canonicalValues": ["value3", "value4"],
"referenceTypes": ["refType3", "refType4"]
},
{"attributeURI": "testURI3",
"attributeName": "testName3",
"dataType": "integer",
"multiValued": true,
"description": "Test description 3",
"required": "false",
"caseExact": "false",
"mutability": "readWrite",
"returned": "default",
"uniqueness": "global",
"subAttributes": "sub5",
"canonicalValues": [],
"referenceTypes": []
},
{"attributeURI": "urn:scim:wso2:schema",
"attributeName": "urn:scim:wso2:schema",
"dataType": "complex",
"multiValued": false,
"description": "System Schema",
"required": "true",
"caseExact": "false",
"mutability": "readWrite",
"returned": "default",
"uniqueness": "none",
"subAttributes": "testURI1 testURI2",
"canonicalValues": [],
"referenceTypes": []
}
]
