<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Charon-suite-initializer">

    <test name="charon-core-tests" preserve-order="true" parallel="false" group-by-instances="true">
         <packages>
             <package name="org.wso2.charon.impl" />
         </packages>
    </test>

</suite>
