<!--
/*
*  Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
*
*  WSO2 Inc. licenses this file to you under the Apache License,
*  Version 2.0 (the "License"); you may not use this file except
*  in compliance with the License.
*  You may obtain a copy of the License at
*
*    http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/-->

<web-app>
    <display-name>Charon Demo</display-name>
    <description>Demonstration of Charon - (implementation of SCIM) features</description>

    <!--
         Wink SDK servlet configuration. This servlet handles HTTP requests
         of SDK web service on application server.
     -->
    <servlet>
        <servlet-name>restSdkService</servlet-name>
        <servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
        <init-param>
            <param-name>applicationConfigLocation</param-name>
            <param-value>/WEB-INF/application</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>org.wso2.charon.impl.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.wso2.charon.impl.servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>restSdkService</servlet-name>
        <url-pattern>/scim/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secured SCIM Resources</web-resource-name>
            <url-pattern>/scim/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>scimAdmin</role-name>
        </auth-constraint>

        <group-data-constraint>
            <!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
            <transport-guarantee>NONE</transport-guarantee>
        </group-data-constraint>
    </security-constraint>

    <!--<security-constraint>
        <web-resource-collection>
            <web-resource-name>Secured Front End</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            &lt;!&ndash;<http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>&ndash;&gt;
        </web-resource-collection>

        <group-data-constraint>
            &lt;!&ndash; transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE &ndash;&gt;
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </group-data-constraint>
    </security-constraint>-->

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

</web-app>